{% extends './layout.html' %}
{% block title %} About Us {% endblock %}
{% block css %}
/* Your custom styles go here */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}



.my-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
 margin-top:5vh;
}




{% endblock %}
{% block body %}



<main>
    <section class="about-section">
      <div class="my-container">
        <h1>About Us</h1>
        <p>Welcome to Your Ecommerce Website, your one-stop destination for the best online shopping experience. We are dedicated to providing you with top-notch products at the most competitive prices. Our mission is to make your online shopping journey convenient, enjoyable, and secure.</p>
        <p>At Your Ecommerce Website, we offer a wide range of high-quality products, including electronics, fashion, home and living, sports and fitness, and much more. We take pride in sourcing products from trusted suppliers, ensuring that you get the best value for your money.</p>
        <p>Our team of dedicated professionals works tirelessly to deliver exceptional customer service. If you have any questions or concerns, our support team is always ready to assist you. Your satisfaction is our top priority, and we strive to exceed your expectations at every step.</p>
        <p>Thank you for choosing Your Ecommerce Website. We look forward to serving you and providing a seamless shopping experience. Happy shopping!</p>
      </div>
    </section>
  </main>







{% endblock %}